body{
    font-family:'Times New Roman', Times, serif;
    background-color:rgb(191, 0, 255);
    margin:0%;
}
header{
    background-color: blueviolet;
    text-align: center;
    padding: 15px;
}
.content{
    background-color: whitesmoke;
    margin:20px;
    padding: 15px;
    border-radius: 5px;
}
h2{
    color:#003366;
}
img{
    text-align:end;
}
footer{
    background-color: rgb(0, 13, 255);
    text-align: center;
    padding: 10px;
}